.fade-in-left {
    animation: fade-in-left .35s cubic-bezier(.300, .455, .680, 1.0000) both;
}

@keyframes fade-in-left {
    0% {
        transform: translateX(-20px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}