@font-face {
    font-family: 'Inter 18pt';
    src: url("../fonts/inter/Inter_18pt-Regular.ttf");
}

@font-face {
    font-family: 'Inter 18pt SemiBold';
    src: url("../fonts/inter/Inter_18pt-SemiBold.ttf");
}